table{
    color:rgb(234, 240, 234);
    background-color: rgb(44, 82, 52);
    text-align: center;
}

.tablehead{
    color: rgb(240, 229, 229);
    background-color: rgb(18, 100, 46);
    border: 2px solid black;
    padding-right: 100px;
    margin-right: 500px;


}

.tablemenu{
    color: rgb(247, 244, 244);
    background-color: rgb(12, 42, 70);1
}

.poductimg{


}

*{
    padding: 0;
    margin: 0;

}