table{
    color:rgb(234, 240, 234);
    background-color: rgb(44, 82, 52);
    text-align: center;
}

.tablehead{
    color: rgb(240, 229, 229);
    background-color: rgb(18, 100, 46);
    border: 2px solid black;


}

.tablemenu{
    color: black;
    background-color: brown;
}

*{
    padding: 0;
    margin: 0;

}